node_modules/
dist/
coverage/
halbana-**
npm_token_secret.txt

# ignore all .env, except in current directory (used for docker-compose)
# in services directories we upload to git only .env.dev, and not .env
**/*/.env
!./.env
.cursorignore