[submodule "relationship-template-manager"]
	path = relationship-template-manager
	url = git@gitlab.com:yesodot/rnd/terminal-rabaz/jaws/microservices/relationship-template-manager.git
[submodule "entity-template-manager"]
	path = entity-template-manager
	url = git@gitlab.com:yesodot/rnd/terminal-rabaz/jaws/microservices/entity-template-manager.git
[submodule "integration-tests"]
	path = integration-tests
	url = git@gitlab.com:yesodot/rnd/terminal-rabaz/jaws/integration-tests.git
[submodule "backend"]
	path = backend
	url = git@gitlab.com:yesodot/rnd/terminal-rabaz/jaws/microservices/backend.git
[submodule "frontend"]
	path = frontend
	url = git@gitlab.com:yesodot/rnd/terminal-rabaz/jaws/microservices/frontend.git
[submodule "permissions-api"]
	path = permissions-api
	url = git@gitlab.com:yesodot/rnd/terminal-rabaz/jaws/microservices/permissions-api.git
[submodule "storage-service"]
	path = storage-service
	url = git@gitlab.com:yesodot/rnd/terminal-rabaz/jaws/microservices/storage-service.git
[submodule "instance-manager"]
	path = instance-manager
	url = git@gitlab.com:yesodot/rnd/terminal-rabaz/jaws/microservices/instance-manager.git
