.nav-button {
    width: 100%;
    align-self: center;
    background-color: transparent;
    padding: 4px 10px;
}

.nav-button :hover {
    background-color: #ffffff1a;
    border-radius: 20px;
}

.nav-button :hover::before {
    background-color: #1e2775;
    border-radius: 20px;
}

.child :hover {
    background-color: transparent;
    border-radius: 0;
}

