.ag-theme-material .ag-rtl {
    border-radius: 7px;
}

.ag-body-viewport,
.ag-layout-normal,
.ag-row-no-animation {
    overflow: hidden !important;
}

.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
    color: #1976d2;
}

.ag-tool-panel-wrapper {
    width: 170px !important;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
    height: 10px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track {
    background-color: rgb(233, 230, 230);
    border-radius: 10px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
    background: #1976d2;
    border-radius: 7px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover {
    background: #105aa3;
}
