body {
    background-color: #1e2775;
}

@font-face {
    font-family: "Rubik";
    font-weight: 100;
    src:
        local("Rubik"),
        url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format("woff");
}

@font-face {
    font-family: "Rubik";
    font-weight: 800;
    src:
        local("Rubik"),
        url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format("woff");
}

@font-face {
    font-family: "Rubik";
    font-weight: 500;
    src:
        local("Rubik"),
        url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format("woff");
}

@font-face {
    font-family: "Rubik";
    font-weight: 400;
    src:
        local("Rubik"),
        url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format("woff");
}

@font-face {
    font-family: "Rubik";
    font-weight: 600;
    src:
        local("Rubik"),
        url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format("woff");
}

@font-face {
    font-family: "Rubik";
    font-weight: 300;
    src:
        local("Rubik"),
        url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format("woff");
}

@font-face {
    font-family: "Rubik";
    font-weight: 700;
    src:
        local("Rubik"),
        url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format("woff");
}

@font-face {
    font-family: "OpenSans";
    src:
        local("OpenSans"),
        url(../assets/OpenSans/OpenSans-VariableFont_wdthwght.ttf) format("woff");
}
