@font-face {
    font-family: 'Rubik';
    font-weight: 100;
    src: local('Rubik'), url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 800;
    src: local('Rubik'), url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    src: local('Rubik'), url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    src: local('Rubik'), url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 600;
    src: local('Rubik'), url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    src: local('Rubik'), url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    src: local('Rubik'), url(../assets/Rubik/Rubik-VariableFont_wght.ttf) format('woff');
}

@font-face {
    font-family: 'OpenSans';
    src: local('OpenSans'), url(../assets/OpenSans/OpenSans-VariableFont_wdthwght.ttf) format('woff');
}

@media print {
    .MuiInputBase-root textarea {
        height: auto !important;
        width: auto !important;
        overflow: visible !important;
    }
    .Page {
        /* height: 100vh; */
        height: auto !important;
        width: auto !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: scroll !important;
        position: absolute !important;
        display: block !important;
        page-break-after: avoid !important;
        page-break-inside: avoid !important;
        page-break-before: avoid !important;
    }
}

/* .print:last-child {
    page-break-after: avoid;
} */
