.react-resizable {
    position: relative;
    box-sizing: border-box;
}

.react-resizable-handle {
    position: absolute;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url("/icons/arrow-more.svg");
    background-position: bottom right;
    padding: 0;
    margin: 0;
}

.react-resizable-handle-se {
    bottom: -4px;
    right: -4px;
    cursor: se-resize;
}
