.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url("/icons/expand_more.svg");
    background-position: bottom right;
}

.react-resizable-handle-s {
    left: 50%;
    cursor: ns-resize;
    bottom: 0;
}

.resizing .box-content {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.box-content {
    transition: opacity 0.2s ease;
    background-color: #194aeb0a;
    border-radius: 10px;
}
