.react-resizable {
    position: relative;
}

.react-resizable-handle {
    position: absolute;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-origin: content-box;
    box-sizing: border-box;
    background-image: url('/icons/arrow-more.svg');
    padding: 15px 0px 0px 15px;   
}

.react-resizable-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
    transform: translate(50%, 50%);
}
