.overflow {
    overflow-y: auto;
}

.dont-show-not-print-mode {
    display: none;
}

.rtl {
    direction: rtl;
}
@media print {
    .overflow {
        overflow-y: visible;
    }

    .dont-print {
        display: none;
    }
}
