.overflow {
    overflow-y: auto;
}

.dont-show-not-print-mode {
    display: none;
}

@media print {
    .print-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }

    .print-container > * {
        flex-basis: 33%;
    }

    .print-in-line {
        display: flex;
        flex-direction: row-reverse;
    }

    .overflow {
        overflow-y: visible;
    }

    .dont-print {
        display: none;
    }
}
