/* Supported starting from version 105 of Chrome */

/* #json-schema > .form-group.field.field-object > .MuiFormControl-root > .MuiGrid-root > .MuiGrid-root:has(.other-field) {
    width: 50%;
    max-width: 50%;
}

#json-schema > .form-group.field.field-object > .MuiFormControl-root > .MuiGrid-root > .MuiGrid-root:has(.text-area) {
    width: 100%;
    max-width: 100%;
} */

.half-width-field {
    width: 50%;
    max-width: 50% !important;
}

.full-width-field {
    width: 100%;
    max-width: 100%;
}

.direction-rtl {
    direction: rtl;
}

.no-padding-top {
    padding-top: 0px !important;
}

.muirtl-yqiqnf-MuiGrid-root:not(:has(.quill)) {
    width: 47% !important;
    flex: 1 1 auto !important;
}

#json-schema > .form-group.field.field-object > .MuiFormControl-root > .MuiGrid-root {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px;
    height: fit-content;
}

#json-schema {
    width: 100%;
}

.MuiPickersToolbar-penIconButton {
    right: 265px !important;
}

.rjsf-text-input-override input[type='number'] {
    direction: ltr !important;
    text-align: right;
}

#json-schema h5 {
    font-size: large;
    font-weight: 600;
}

#json-schema hr {
    display: none;
}
