/* Supported starting from version 105 of Chrome */

/* #json-schema > .form-group.field.field-object > .MuiFormControl-root > .MuiGrid-root > .MuiGrid-root:has(.other-field) {
    width: 50%;
    max-width: 50%;
}

#json-schema > .form-group.field.field-object > .MuiFormControl-root > .MuiGrid-root > .MuiGrid-root:has(.text-area) {
    width: 100%;
    max-width: 100%;
} */

<<<<<<< HEAD
.half-width-field {
=======
.has-field-child {
>>>>>>> 363d58f9a244fd2e49439e79dcb7df117e7b19cf
    width: 50%;
    max-width: 50% !important;
}

<<<<<<< HEAD
.full-width-field {
    width: 100%;
    max-width: 100%;
    /* direction: rtl; */
}

.has-text-area-child {
=======
.has-bigger-field-child {
    width: '100%';
    max-width: '100%';
>>>>>>> 363d58f9a244fd2e49439e79dcb7df117e7b19cf
    direction: rtl;
}

.no-padding-top{
    padding-top: 0px !important;
}

#json-schema > .form-group.field.field-object > .MuiFormControl-root > .MuiGrid-root {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px;
    height: fit-content;
}

#json-schema {
    width: 100%;
}

.MuiPickersToolbar-penIconButton {
    right: 265px !important;
}
